 <h3 class="agregar text-center">Agregar novedades</h3>
 
 <div class="container"  style="margin: auto">



<form >
 
   
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Titulo</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Titulo">
    </div>

     <div class="form-group">
        <label for="disabledTextInput" class="form-label">Subtitulo</label>
        <textarea  type="text" class="form-control" placeholder="Subtitulo" name="subtitulo" ></textarea>
      
    </div>

    <div class="form-group">
        <label for="disabledTextInput" class="form-label">Cuerpo</label>
        <textarea  type="text" class="form-control" placeholder="Cuerpo" name="cuerpo" ></textarea>
      
    </div>
    

    
    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Guardar</button>
  
</form>

 </div>




